<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>404 - Boss Not Found</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <main class="container" style="max-width: 800px; text-align: center"></main>
  </head>

  <body>
    <main class="container" style="max-width: 800px; text-align: center">
      <h1>404</h1>

      <h3>Boss Not Found</h3>

      <p>
        The boss you're looking for does not exist in the BossVault database.
      </p>

      <a href="/" role="button">Return to Home</a>
    </main>
  </body>
</html>
